extends layout
block content
  .row
    
     h1 Add More Strings To your Bow<br><br>
     
     
      .formHold
        .itemtitle 
           h2 Add New Product <br><br>
             form(method="post")
               fieldset 
                 label(for="name") Product Name:
                 input(name="name", type="text", placeholder="Enter a product Name", required)
                 
                 label(for="category") Instrument Type:
                 input(name="category", type="text", placeholder="Instrument Type", required)
                 
                 label(for="price") Product Selling Price:
                 input(name="price", type="number", placeholder="Enter a price in Euros", required, pattern='[0-9]', title="Numbers Only Please")
                 
                 label(for="image") Product Image:
                 input(name="image", type="text", placeholder="Enter Image name")
                 
                 button.button(type="submit") Add New Product
                 