extends layout
block content
  .row
   
    h1 Add More Shops<br><br>
    
    
    
     .formHold
       .itemtitle 
          
           h2 Add New Shop <br><br>
           
             form(method="post")
               fieldset
                 label(for="newname") Shop Name:
                 input(name="newname", type="text", placeholder="Enter a new shop", required)
                 
                 label(for="newaddress") Shop Address:
                 input(name="newaddress", type="text", placeholder="Enter a new address", required)
                 
                 label(for="newemail") Shop Email:
                 input(name="newemail", type="text", placeholder="Enter a new email", required)
                 
                 label(for="newphone") Shop phone:
                 input(name="newphone", type="number", placeholder="Enter a new phone number", required, pattern='[0-9]', title="Numbers Only Please")

                 label(for="newimage") Shop image:
                 input(name="newimage", type="text", placeholder="Enter Image name")
                 
                 button.button(type="submit") Add New Shop