extends layout

block content
    .holder
      .row
     
        .guitar#magic
            h1
              | Acoustic
            h2
              | Guitars 
            p#fade When it goine its gone !!
            
        .violins
            h1 
              | Classical
            h2
              | Violins
            
        .cellos
            h1
             | Cellos
             
        .harps
            h1
              |Harps
              
        .banjos
            h1
              | Banjos
              
        .eguitars
            h1
             | Electric
            h2
             | Guitars 
            

