doctype html
html
  head
    meta(charset='UTF-8')
    title Musical Strings
    link(rel='stylesheet', href='../app.css', type='text/css')
    script(language="JavaScript", type="text/javascript", src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src='../myscript.js', type='text/javascript')

    
  body
    .header
      .icon
        img#poster.logiIm(alt='lo', src='/logo.jpg')
        
      .icon1
        img#poster.logiIm(alt='lo', src='/logo.jpg')
        
      .navhold
        .topnav
          a(href='/') Home
          a(href='/products') Products
          a(href='/add') Add Product
          a(href='/shops') Shops
          a(href='/addshop') Add Shops
          a(href='/contact') Contact Us
         
       block content
       
    .footer
      p WAD-  Muscial Strings
      p Brian Harkin, Catherine Lynskey, Fintan Riordan, Ke Jia Wen 
      p Images from Pixabay.com
      